
.add-product-section{    
    height: 100%;    
    border: 1px solid var(--primary);
    border: none;
    display: flex;
    flex-direction: column;    
    align-items: center;
    border-radius: 15px;    
    overflow: hidden;            
}




.add-product-section .plus-button{
    width: 100%;
    /* height: 100%; */
    font-size: 2rem;
    background: white;
    /* color: var(--primary); */
    color: var(--primary);    
    /* font-size: 200px; */
}