
.bag-item-card{
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    width: 180px;
    height: 220px;
    box-shadow:  var(--box-shadow) 8px 10px 24px;
    
}

.bagcard-delete-btn{
    position: absolute;
    top:   -7px;
    right: -7px;
    width:  20px;
    height: 20px;
    color: var(--info-red);
    background: white;
    border: 1px solid var(--info-red);
    border-radius: 50%;
}

.bag-item-card .bag-card-title{
    /* border: 1px solid var(--primary); */
    font-family: var(--font-secondary);
    /* font-weight: bold; */
    border-radius: 15px 15px 0 0;
    background: var(--primary);
    color: white;
    width: 100%;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 5px;
}



.bag-item-card .bags-carousel{
    display: flex;
    width: 100%;
    justify-content: center;
    height: 140px;
    
    /* overflow: hidden; */
}

.bag-item-card .bags-carousel .prev-image,
.bag-item-card .bags-carousel .next-image{
    width: 20%;
    background: inherit;
    border: none;
    /* display: none; */
    /* display: flex; */
}


.prev-next-arrow-hidden > .prev-image, 
.prev-next-arrow-hidden > .next-image{
    display: none;
}


.bag-item-card .bags-carousel .sliders{
    /* overflow: hidden; */
    width: 60%;
    /* height: 100%; */
    display: flex;
    overflow: scroll;
}

.bag-item-card .bags-carousel .slider{
    width: 0%;
    height: 100%;
    transition: width .4s ease-in-out;
    position: relative;

}

.bag-item-card .bags-carousel .sliders .active{
    display: flex;
    width: 100%;
}

.bag-item-card .bags-carousel .sliders .active > .image-index{
    display: block;
}

.bag-item-card .bags-carousel .slider .image-index{
    position: absolute;
    background: black;
    color: white;
    padding: 2px;
    display: none;
    transition: opacity 3s ease-in-out;
    top:10px;
    left:10px;
    font-weight: lighter;
    font-size: small;
    border: none;
    border-radius: 5px;
}

.bag-item-card .bags-carousel .bag-image{
    
    object-fit: contain;
    width: 100%;
    height: 100%;
    
}

.bag-item-card .nobag-image{
    margin-top: 30px;
    width: 80px;
    height: 120px;
    object-fit: cover;

}







.card-bottom-text{
    width: 100%;
    /* padding: 0 10px; */
    /* display: flex;
    flex-direction: column; */
    position: absolute;
    bottom: 10px;
    /* background: blue; */
    
}


.card-bottom-text .top, .card-bottom-text .bottom{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .8rem;
    padding: 0 10px;
}




.top .quantity-text{
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--secondary);
    
}

.bottom .sku{
    font-size: 0.8rem;
}


    

.card-bottom-text .bag-quantity-input{
    width: 40px;
    height: 30px;
    font-weight: bold;
    background: transparent;
    border: none;
    
}


.top .bag-price{
    font-weight: bold;
    font-size: .8rem;
}


