
.bag-item-card{
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    --bagcard-width: 175px;
    --bagcard-height: 140px;
    width: var(--bagcard-width);
    height: var(--bagcard-height);
    box-shadow:  var(--box-shadow) 8px 10px 24px;
}

.bag-item-card:hover > .bag-card-title-wrapper{
    /* display: initial; */
}



/* .bag-item-card .bag-card-title-wrapper{    
    display: none;
    position: absolute;
    z-index: 10;
    min-width: 100%;

    border-radius: 15px 15px 0 0 ;
    background: rgba(0, 0, 0, 0.696);
    width: 100%;
    overflow: hidden;    
    padding: 5px 0;
    overflow: auto;
    scrollbar-width: none;  
}

.bag-item-card .bag-card-title{    
    white-space: nowrap;
    font-style:oblique;
    min-width: 100%;
    padding: 0 .5rem;
    color: rgba(255, 255, 255, 0.84);
    font-weight:bold;
    transform: translateX(100%);

  }

  .bag-item-card:hover .bag-card-title {
    animation: scroll-left 3.5s linear infinite;
  } */

  @keyframes scroll-left {
    to {
      transform: translateX(-100%);
    }
    /* 0% {
      transform: translateX(0%); 
    }    
    100% {
      transform: translateX(-100%);
    } */
  }

.bag-details-popup-wrapper .marketingName::before{
    content:'- modèle: ';
    font-weight: bold;
}
.bag-details-popup-wrapper .sku::before{
    content:'- sku: ';
    font-weight: bold;
  }

.bag-details-popup-wrapper,
.bagcard-delete-btn{
    position: absolute;
    
}

.bag-details-popup-wrapper{
    color: var(--primary);
    /* background: white; */
    left: 0px;
    top:-9px;
}

.bagcard-delete-btn{
    top:-7px;
    right: -5px;
    width:  15px;
    height: 15px;
    color: var(--info-red);
    background: white;
    border: 1px solid var(--info-red);
    border-radius: 50%;
}

.bag-item-card .bags-carousel{
    display: flex;
    width: 100%;
    justify-content: center;
    height: 100px;
    /* z-index: -1; */
}

.bag-item-card .bags-carousel .prev-image,
.bag-item-card .bags-carousel .next-image{
    width: 20%;
    background: inherit;
    border: none;
}


.prev-next-arrow-hidden > .prev-image, 
.prev-next-arrow-hidden > .next-image{
    display: none;
}


.bag-item-card .bags-carousel .sliders{
    width: 60%;
    display: flex;
    overflow: scroll;
}

.bag-item-card .bags-carousel .slider{
    width: 0%;
    height: 100%;
    transition: width .4s ease-in-out;
    position: relative;

}

.bag-item-card .bags-carousel .sliders .active{
    display: flex;
    width: 100%;
}

.bag-item-card .bags-carousel .sliders .active > .image-index{
    display: block;
}

.bag-item-card .bags-carousel .slider .image-index{
    position: absolute;
    background: black;
    color: white;
    padding: 2px;
    display: none;
    transition: opacity 3s ease-in-out;
    top:10px;
    left:10px;
    font-weight: lighter;
    font-size: small;
    border: none;
    border-radius: 5px;
}

.bag-item-card .bags-carousel .bag-image{
    
    object-fit: contain;
    width: 100%;
    height: 100%;
    
}

.bag-item-card .nobag-image{
    /* margin-top: 30px; */
    /* object-fit: cover; */
    width: 80px;
    height:100px;

}







.card-bottom-text{
    width: 100%;
    height: 20px;
    /* position: absolute; */
    /* bottom: 10px; */
    
}


.card-bottom-text .top, .card-bottom-text .bottom{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .8rem;
    padding: 0 10px;
}




.top .quantity-text{
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--secondary);
    
}

.bottom .sku{
    font-size: 0.8rem;
}


    

.card-bottom-text .bag-quantity-input{
    width: 40px;
    height: 30px;
    font-weight: bold;
    background: transparent;
    border: none;
    
}


.top .bag-price{
    font-weight: bold;
    font-size: .8rem;
}


