.bag-modifier{
    overflow: hidden;
}

.bag-modifier:first-child{
    margin-top: 1.8rem;
}

.bag-modifier-fields{
    display: flex;
    flex-direction: column;
    align-items:end;
}

.bag-field{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5px 0;
}

.bag-field label,
.bag-field input{
    margin: 0 10px;
}


input{
    outline-color:1px solid var(--light-gray);
    padding: 2px;
}


.confirm-bag-modifications-wrapper{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.confirm-bag-modifications{
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background: var(--info-green);
    color: white;
}



@media (max-width:650px){
    .bag-modifier{
        font-size: .4rem;
    }
}