.bag-modifier:first-child{
    margin-top: 1.8rem;
}


.bag-field{
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}


input{
    /* outline:none; */
    outline-color: var(--light-gray);
    padding: 2px;
    border:none;
}


.confirm-bag-modifications-wrapper{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.confirm-bag-modifications{
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background: var(--info-green);
    color: white;
}

