.bag-popup-container{
    border: 1px solid var(--ligth-grey);
    border-radius: 25px;
    z-index: 999;
    position: fixed;
    min-width: 900px;
    max-width: 900px;
    /* min-height: 650px; */
    max-height: 650px;
    
    background: white;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 20px;
}


.bag-popup-container .bag-popup-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: var(--primary);
    font-size:1.4rem;
    margin-bottom: 20px;

}

.bag-popup-container .bag-popup-header .title-wrapper{
    display: flex;
    align-items: center;
}




.popup-close-btn{
    color:var(--dark-grey);
}

.bag-selection-list{
    width: 100%;
    margin-bottom: 20px;
    /* padding-bottom: 20px; */
    /* padding: 20px 20px 60px 20px; */
    /* display: flex; */
    display: flex;
    flex-wrap: wrap;
    max-height: 500px;
    overflow: auto;
    /* background: red; */
}


.bag-list-item{
    margin: 0px 35px 50px 35px;
    min-width: 120px;
    max-width: 120px;
    height: 200px;
    position: relative;
}


.bottom-section{
    display: flex;
    justify-content: flex-end;
}

.bottom-section button{
    
    padding: 5px 10px;
    background: var(--info-green);
    color:white;
    border: none;
    border-radius: 5px;
    
}
    
