.create-order{
    width: 100%;
    /* background: blue; */
    margin-top: 30px;
    /* font-family: var(--font-primary); */

    
}

.create-order-field{
    display: flex;
    margin: 5px 0;
}


.create-order-field label{
    width: 250px;
}



.create-order-field .planned-date-pickers{
    display: flex;
    flex-direction: column;
}


.create-order .product-selection{
    /* background: red; */
    /* width: 80%; */
    display: flex;
    flex-direction: column;

}

.create-order-field textarea,
.create-order-field input,
.create-order-field select
{
    width: 350px;
}





.create-order .product-selection .product-selector-container{
    width: 70%;
}

.product-selection-price{
    margin-top: 2rem;
    /* padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: .2rem 0;
    
}

.product-selection-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 5px 0; */
    width: 40%;
}

.product-selection-item input{
    width: 70px;
    text-align: center;
}

.base-price input{
    border: none;
    
}

.confirm-order-create{

    display: flex;
    justify-content: end;

    /* position: absolute; */
    bottom: 10px;
    right: 20px;
}

.confirm-order-create button{
    padding: 5px 10px;
    background: var(--primary);
    background: var(--info-green);
    color: white;
    border: none;
    border-radius : 5px;
}

.create-order-total-price{
    font-weight: bold;
}


@media (max-width:900px){
    .confirm-order-create{
        /* background: red; */
        bottom: 10px;
        right: 20px;
    }
}