.create-customer-form{
    /* background: red; */
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    /* flex-wrap: wrap; */
}

.form-fields-wrapper{
    
}

.customer-form-field{
    margin: 10px 0;
    display: flex;

}


.customer-form-field label{
    min-width: 100px;

}

.customer-form-field input, .customer-form-field select{
    width: 200px;
}




.customer-form-field > div{
    margin: 5px 0;
}


.address-field{
    /* background: blue; */
    flex-direction: column;
}

.address-field label{
    min-width: 180px;
}

.address-field input{
    /* width: 100%; */
}


.submit-btn-wrapper{
    display: flex;
    justify-content: end;
}

.customer-form-submit{
    width: 100px;
    
    
    background-color:var(--info-green);
    color: white;
    border:none;
    border-radius: 5px;
    padding: 5px 10px;
}