.general-crud-wrapper{
    overflow: auto;
}

.general-crud-table {
    display: flex;

    min-width: 100%;
    width: max-content;
    flex-direction: column;
    box-shadow: var(--box-shadow) 0px 8px 24px;
    border-radius: 0 0 10px 10px;
    overflow: auto;


}



.general-crud-table .header-row, .content-row{
    display: flex;
    justify-content:space-evenly;
    text-align: center;
    font-weight: lighter;        
}

.general-crud-table .header-row{
    background: var(--primary);
    color: white;
    border-radius:10px 10px 0 0;
}

.content-row{
    color: black;
    background-color: white;
    display: flex;
    align-items: center;
    
}

.content-row:hover{
    /* color:var(--ligth-gray); */
    font-weight: 300; 
}

.content-row:nth-of-type(2n){
    background: var(--ligth-grey);
    
}



.header-row .large, .content-row .large{
    min-width: 300px;
    max-width: 300px;

}

.header-row .medium, .content-row .medium{
    min-width: 150px;
    max-width: 150px;
}

.header-row .small, .content-row .small{
    min-width: 80px;
    max-width: 80px;

}



.general-crud-table .header-row .row-field{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.content-row .row-field{
    word-wrap:break-word;
}

.row-field,
.row-item{
    width: 100%;
    /* background: red; */
}

.row-field{
    white-space: wrap;
    overflow: auto;
    max-height: 60px;
    scrollbar-width: none;
}

.object-col div{
    width: 100%;
}


.empty-field{
    color: var(--light-gray);
}

.actions-col{
    font-size: 1.2rem;
    min-width: 40px;
    max-width: 40px;
    color: red;
}

