.general-crud-wrapper{
    overflow: auto;
    width: 100%;
}

.general-crud-table {
    display: flex;
    min-width: 1450px;
    /* max-width: 1250px; */
    /* width: 100%; */
    flex-direction: column;
    /* justify-content: space-evenly; */
    box-shadow: var(--box-shadow) 0px 8px 24px;
    border-radius: 0 0 10px 10px;
    /* overflow:auto; */


}



.general-crud-table .header-row, .content-row{
    display: flex;
    justify-content:space-evenly;
    width: 100%;
    text-align: center;
    border-radius:10px 10px 0 0;
    font-weight: lighter;        
}

.general-crud-table .header-row{
    background-color: var(--primary);
    color: white;
}

.content-row{
    color: black;
    background-color: white;
    display: flex;
    align-items: center;
    
}

.content-row:hover{
    /* color:var(--ligth-gray); */
    font-weight: 300; 
}

.content-row:nth-child(even){
    background: var(--ligth-grey);
    
}



.header-row .large, .content-row .large{
    min-width: 150px;
    max-width: 150px;
}



.general-crud-table .header-row .row-field{
    /* width: 150px; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.row-field,
.row-item{
    width: 100%;
}

.object-col div{
    width: 100%;
}

.actions-col{
    font-size: 1.2rem;
    min-width: 40px;
    max-width: 40px;
    color: red;
}


/* @media (max-width: 600px) {
    .hidden {
      display: none;
    }
    .header-row .large, .content-row .large{
        min-width: 90px;
        max-width: 120px;
    }
  } */