.navbar{
    background : var(--ligth-gray);
    border-right: 1px solid var(--light-gray);
    color:  white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    position: fixed;
    top:0;
    left:0%;
    height: 100%;
    width: 15vw;
    min-width: 145px;
    /* transform: translateX(-100%); */
    transition: .3s;
    z-index: 100;
    
}


.arrow-logo{
    position: absolute;
    right: -20px;
    z-index: 999;
    border: none;
    height: 50px;
    width: 20px;
    color: var(--primary);
    display: flex;
    align-items: end;
    transform: rotate(180deg);
}


.visible{    
    transform: translateX(0%);
}


.hidden{
    transform: translateX(-100%);
}

.navbar.visible .arrow-logo {
    /* transform: rotate(0deg);  */
    display: none;
}

.navbar.hidden .arrow-logo {
    transform: rotate(180deg); 
}

.navbar ul {
    list-style: none;
    width: 100%;
    padding: 0;
}





.navbar .nav-li-item{
    width: 100%;
    display: flex;
    align-items: center;
    /* background: red; */

}

.navbar .selected{
    background-color: var(--primary);
}

.navbar .selected > .nav-icons{
    color: white;
}

.navbar .selected > .nav-button{
    color: white;
    /* background-color: red; */
    /* opacity: .8; */
    
}


.navbar ul li .nav-icons{
    width: 35%;
    object-fit: cover;
    color: var(--primary);
    /* height: 100%; */
    /* background-color: red; */
}


.navbar .nav-button, .navbar .nav-sub-button{
    border:none;
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    text-align: start;
    background: transparent;
    color:var(--black);
    opacity: .7;
    
}
    

.navbar .fast-order{
    background: var(--info-green);
    color:rgba(255, 255, 255, 0.92);
    border:none;
    border-radius: 15px;
    padding:10px;
    font-weight: bold;
    font-family: var(--font-secondary);
    
}


