.navbar{
    background : var(--light-gray);

    color:  white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    position: fixed;
    top:0;
    left:0%;

    height: 100%;
    width: 200px;
    /* transform: translateX(-100%); */
    transition: left .6s;
    z-index: 100;
    
}




.button-logo{
    position: absolute;
    z-index: 999;
    top: 0;
    /* left: 50%; */
    /* transform: translateX(-50%); */
    border: none;
    background: inherit;
    /* margin: 20px 0; */
    width: 35px;
    height: 35px;
}
.button-logo-img{
    background:inherit;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.navbar div{
    /* background-color: aqua; */
}


.visible{
    left: 0%;
}
.hidden{
    left: -100%;
}

.navbar ul {
    list-style: none;
    width: 100%;
    padding: 0;
}





.navbar .nav-li-item{
    width: 100%;
    display: flex;
    align-items: center;
    /* justify-content: flex-start; */
    /* padding: 5px 0;
    padding-left: 10px; */
    /* border: 1px solid var(--primary); */
}

.navbar .selected{
    background-color: var(--primary);
}

.navbar .selected > .nav-icons{
    color: white;
}

.navbar .selected > .nav-button{
    color: white;
    opacity: .8;
    
}


.navbar ul li .nav-icons{
    width: 35%;
    object-fit: cover;
    color: var(--primary);
    /* height: 100%; */
    /* background-color: red; */
}


.navbar .nav-button, .navbar .nav-sub-button{
    border:none;
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    text-align: start;
    background: inherit;
    color:var(--black);
    opacity: .7;
    
}

.nav-button{
    background-color: blue;
    
}
.navbar .fast-order{
    background: var(--primary);
    color:rgba(255, 255, 255, 0.92);
    border:none;
    border-radius: 15px;
    padding:10px;
    margin:5px;
    font-weight: bold;
    font-family: var(--font-secondary);
    
}


