
.hover-area {
    position: fixed;
    left: 0;
    top: 0;
    width: 50px; /* Small hover area */
    height: 100vh;
    z-index: 100;
    background: transparent;
  }

  
.navbar{
    background : var(--ligth-gray);    
    border-right: 1px solid var(--light-gray);
    color:  white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    position: fixed;
    top:0;
    left:0%;
    height: 100%;
    width: 15vw;
    min-width: 145px;
    /* transform: translateX(-100%); */
    transition: .3s;
    z-index: 100;
    
}


.arrow-logo{
    position: absolute;
    /* right: -20px; */
    right: -1.6rem;
    z-index: 999;
    border: none;
    height: 50px;
    width: 1.4rem;
    color: var(--primary);
    display: flex;
    align-items: end;
    transform: rotate(180deg);
}
.arrow-logo:hover{
    cursor: pointer;
}


.visible{    
    transform: translateX(0%);
}


.hidden{
    transform: translateX(-100%);
}

.navbar.visible .arrow-logo {
    /* transform: rotate(0deg);  */
    display: none;
}

.navbar.hidden .arrow-logo {
    transform: rotate(180deg); 
}

.navbar ul {
    list-style: none;
    width: 100%;
    padding: 0;
}


.navbar .close-navbar-btn{
    color: var(--primary);    
    border-radius: 50%;
    font-size: 2rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
}
.navbar .close-navbar-btn:hover{
    background: var(--hover-grey);
    cursor: pointer;
}


.navbar .nav-li-item{
    width: 100%;
    display: flex;
    align-items: center;    
    /* background: red; */
}
.navbar .nav-li-item:nth-child(1) svg{font-size: 1.1rem;}
.navbar .nav-li-item:nth-child(2) svg{font-size: 1.6rem;}
.navbar .nav-li-item:nth-child(3) svg{font-size: 1.1rem;}
.navbar .nav-li-item:nth-child(4) svg{font-size: 1.4rem;}


.navbar .selected{
    background-color: var(--primary);
}

.navbar .selected > .nav-icons{
    color: white;
}

.navbar .selected > .nav-button{
    color: white;
    /* background-color: red; */
    /* opacity: .8; */
    
}


.navbar ul li .nav-icons{
    width: 35%;
    object-fit: cover;
    color: var(--primary);
    /* height: 100%; */
    /* background-color: red; */
}


.navbar .nav-button, .navbar .nav-sub-button{
    border:none;
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    text-align: start;
    background: transparent;
    color:var(--black);
    opacity: .7;
    
}
    

.navbar .fast-order{
    /* background: var(--info-green); */
    background: var(--primary);
    color:rgba(255, 255, 255, 0.92);
    border:none;
    border-radius: 15px;
    padding:10px;
    font-weight: bold;
    width: 70%;
    font-family: var(--font-secondary);
    
}






@media (max-width:700px){
    .navbar{
        /* width: 15vw; */
        font-size: .6rem;
    }

}