
.product-item-card{
    /* border-radius: 15px; */
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    --productcard-width: 120px;
    --productcard-height: 130px;
    width: var(--productcard-width);
    height: var(--productcard-height);
    box-shadow:  var(--box-shadow) 8px 10px 24px;
}

.product-item-card:hover > .product-card-title-wrapper{
    /* display: initial; */
}


  @keyframes scroll-left {
    to {
      transform: translateX(-100%);
    }
    /* 0% {
      transform: translateX(0%); 
    }    
    100% {
      transform: translateX(-100%);
    } */
  }

.product-details-popup-wrapper .marketingName::before{
    content:'- modèle: ';
    font-weight: bold;
}
.product-details-popup-wrapper .sku::before{
    content:'- sku: ';
    font-weight: bold;
  }

.product-details-popup-wrapper,
.productcard-delete-btn{
    position: absolute;
    
}

.product-details-popup-wrapper{
    color: var(--primary);
    /* background: white; */
    left: 0px;
    top:-9px;
}

.productcard-delete-btn{
    top:-7px;
    right: -5px;
    width:  15px;
    height: 15px;
    color: var(--info-red);
    background: white;
    border: 1px solid var(--info-red);
    border-radius: 50%;
}

.product-item-card .products-carousel{
    display: flex;
    width: 100%;
    justify-content: center;
    height: 100px;
    /* z-index: -1; */
}

.product-item-card .products-carousel .prev-image,
.product-item-card .products-carousel .next-image{
    width: 20%;
    background: inherit;
    border: none;
}


.prev-next-arrow-hidden > .prev-image, 
.prev-next-arrow-hidden > .next-image{
    display: none;
}


.product-item-card .products-carousel .sliders{
    width: 60%;
    display: flex;
    overflow: scroll;
}

.product-item-card .products-carousel .slider{
    width: 0%;
    height: 100%;
    transition: width .4s ease-in-out;
    position: relative;

}

.product-item-card .products-carousel .sliders .active{
    display: flex;
    width: 100%;
}

.product-item-card .products-carousel .sliders .active > .image-index{
    display: block;
}

.product-item-card .products-carousel .slider .image-index{
    position: absolute;
    background: black;
    color: white;
    padding: 2px;
    display: none;
    transition: opacity 3s ease-in-out;
    top:10px;
    left:10px;
    font-weight: lighter;
    font-size: small;
    border: none;
    border-radius: 5px;
}

.product-item-card .products-carousel .product-image{
    
    object-fit: contain;
    width: 100%;
    height: 100%;
    
}

.product-item-card .noproduct-image{
    background: var(--ligth-grey);
    width: 100%;
    height: 100%;

}







.card-bottom-text{
    width: 100%;
    height: 20px;
    /* position: absolute; */
    /* bottom: 10px; */
    
}


.card-bottom-text .top, .card-bottom-text .bottom{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .8rem;
    padding: 0 10px;
}




.top .quantity-text{
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--secondary);
    
}

.bottom .sku{
    font-size: 0.8rem;
}


    

.card-bottom-text .product-quantity-input{
    width: 40px;
    height: 30px;
    font-weight: bold;
    background: transparent;
    border: none;
    
}


.top .product-price{
    font-weight: bold;
    font-size: .8rem;
}


