
.section-title{
    border: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}


.main-title{
    color: var(--primary);
    font-weight: bold;
    font-family: var(--font-primary);
    
}


.button-container {
    display: flex;
    align-items: center;
}



.title-plus-button{
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.1rem;
    color: var(--info-green);
    background: white;
    border: 1px solid var(--info-green);
}

.plus-button{
    /* font-size: 45px;
    color: var(--primary);
    border: none; */
}

.classic-button{
    padding: 5px 15px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    /* background: var(--primary); */
    background: white;
    border: 1px solid var(--secondary) ;
    color: var(--secondary);

}


.button-container .classic-button:last-child {
    /* color: var(--primary); */
    color: white;
    background: var(--secondary);
  }
  





