.bags-list{
    display: flex;
    flex-wrap: wrap;    
    position:relative;
}


.bag{
    
    margin: 10px;
    width: 400px;
    min-height: 200px;
    max-height: 450px;
    border-radius: 5px;
    box-shadow: var(--ligth-grey) 10px 8px 5px;
    position: relative;
}


.bag-header{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.bag-header .bag-title{
    font-family: var(--font-primary);
    padding: 10px 15px;
}

.bag-header .bag-delete-btn{
    position:absolute;
    right: 0;
    background: var(--ligth-grey);
    border-radius: 50%;
}


.bag-images{
    padding: 10px 15px;
    max-height: 200px;
    

}

.bag-images-title{
    margin-bottom: 10px;
    /* font-weight: bold; */
}

.bag-images-wrapper{
    display: flex;
    overflow-x: auto;
}
.bag-image-wrapper{
    padding: 5px;
    position: relative;
    border: 1px solid var(--ligth-grey);
    margin-right:5px;
    
}

.bag-image-close-btn{
    position: absolute;
    right: 0;
    top: 0;
}

.bag-image{
    height: 140px;
    width: 140px;
    object-fit: cover;
}




.apply-bag-modification{
    position: absolute;
    width: 100%;
    /*padding: 10px 0; */
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    /* height: 60px; */
    background: white;
    
    display: none;
    justify-content: center;
    align-items: center;
}

.apply-bag-modification button{
    border: none;
    border-radius: 5px;
    margin: 10px;
    padding: 5px 10px;
    /* width: 85%; */
}

.bag-props .bag-mod-visible{
    display: flex;
}

