.bags-list{
    display: flex;
    flex-wrap: wrap;    
    position:relative;
}


.bag{
    
    margin: 10px;
    width: 400px;
    /* min-height: 200px; */
    padding: 5px 15px 80px 15px;
    max-height: 450px;
    border-radius: 5px;
    box-shadow: var(--ligth-grey) 10px 8px 5px 5px;
    position: relative;
}


.bag-header{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.bag-header .bag-title{
    font-family: var(--font-primary);
    font-size: 1.2rem;
    padding: 10px 15px;
    /* border-bottom: 1px solid var(--primary); */
}

.bag-header .bag-delete-btn{
    position:absolute;
    right: 0;
    background: var(--ligth-grey);
    color: var(--primary);
    border-radius: 50%;
}


.bag-images{
    padding: 10px 15px;
    max-height: 200px;
    

}

.bag-images-title{
    margin-bottom: 10px;
    /* font-weight: bold; */
}

.bag-images-wrapper{
    display: flex;
    overflow-x: auto;
}
.bag-image-wrapper{
    padding: 5px;
    position: relative;
    border: 1px solid var(--ligth-grey);
    margin-right:5px;
    
}

.bag-image-close-btn{
    position: absolute;
    right: 0;
    top: 0;
}

.bag-image{
    height: 120px;
    width: 120px;
    object-fit: contain;
}


.bag-props{
    
} 


.bag-prop{
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    
}

.bag-prop .bag-prop-text{
    
}

.bag-prop div{
    min-width: 250px;
    text-align: end;
    
}

.bag-prop .bag-prop-text{
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid var(--light-gray);
}

.bag-prop-item-wrapper{
    display: flex;
    border-bottom: 1px solid var(--light-gray);
}

.bag-props .bag-mod-visible{
    display: flex;
}


.apply-bag-modification{
    position: absolute;
    width: 100%;
    /*padding: 10px 0; */
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); 
    /* height: 60px; */
    background: white;
    
    display: none;
    justify-content: flex-end;
    align-items: center;
}

.apply-bag-modification button{
    border: none;
    border-radius: 5px;
    margin: 10px;
    padding: 5px 10px;
    background: var(--info-green);
    color: white;
    /* width: 85%; */
}



