.bags-list-wrapper{
    display: flex;
    justify-content: center;
    min-width: 400px;
    max-width: 1400px;
}

.bags-list{
    display: flex;
    width: 90%;
    justify-content: flex-start;
    flex-wrap: wrap;    
    position:relative;
    /* background: rgb(0, 0, 0); */
}

.bag{    
    margin: 10px ;
    padding: 10px;
    width: 180px;
    height: 250px;
    /* border: 1px solid black; */
    border:1px solid rgba(75, 75, 90, 0.292);
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.bag:hover{
    /* background: var(--ligth-grey); */
    box-shadow: var(--ligth-grey) 10px 8px 8px 5px;

}

.bag-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.bag-info .bag-title{
    /* font-family: var(--font-primary); */
    font-weight: lighter;
    /* text-transform: uppercase; */
    font-size: 1.2rem;
    margin: 10px 0;
    width: 85%;
    overflow: auto;
    scrollbar-width: none;
    white-space: nowrap;
}


.bag-info .bag-delete-btn{
    position:absolute;
    right: 0;
    width: 1.2rem;
    height: 1.2rem;
    background: white;
    color: var(--primary);
    border-radius: 50%;
    cursor: pointer;
}


.bag-images{
    padding: 10px 15px;
    /* max-height: 200px; */
    height: 90%;
    /* border: 1px solid green; */
}

.bag-images-title{
    margin-bottom: 10px;
    /* font-weight: bold; */
}

.bag-images-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* overflow-x: auto;
    scrollbar-width: none;
    scroll-snap-type: x mandatory; */
}
.bag-image-wrapper, .nobag-wrapper{
    /* scroll-snap-align: start; */
    padding: 5px;
    position: relative;
    /* border: 1px solid var(--ligth-grey); */
    margin-right:5px;
    
}

.nobag-image{
    /* margin-top: 20px; */
    width: 60px;
    height: 60px;
}   


.bag-image-close-btn{
    position: absolute;
    right: 0;
    top: 0;
}

.bag-image{
    height: 140px;
    width:  120px;
    object-fit: contain;
    
}







.bag-prop{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 15px;
    
}

/* .bag-prop div{
    min-width: 250px;
    text-align: end;
    
}

.bag-prop .bag-prop-text{
    min-width: max-content;
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
} */




.apply-bag-modification{
    position: absolute;
    width: 100%;
    /*padding: 10px 0; */
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); 
    /* height: 60px; */
    background: white;
    
    display: none;
    justify-content: flex-end;
    align-items: center;
}

.apply-bag-modification button{
    border: none;
    border-radius: 5px;
    margin: 10px;
    padding: 5px 10px;
    background: var(--info-green);
    color: white;
    /* width: 85%; */
}



