
.orders{
    display: flex;
    flex-direction: column;   
    align-items: center; 
    /* width: 85%; */
    margin: 0 auto;
    /* min-width: 800px; */
    min-width: 1050px;
    overflow: hidden;

}

.card-bottom-text .delete-icon{
    /* color:red; */
}

.orders-list{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: var(--box-shadow) 0px 8px 24px;
    /* z-index: -1000; */
    
}

    

.orders-list .orders-header-row{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: var(--primary);
    color: white;
    text-align: center;
    overflow: hidden;
    border-radius:10px 10px 0 0;
    font-weight: lighter;    
}

.orders-list .orders-header-row div{
    font-size: 1.1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.orders-list .orders-header-row .small-col,
.orders-list .customer-base-info .small-col{
    min-width: 60px;
    max-width: 60px;
}

.orders-list .orders-header-row .medium-col,
.orders-list .customer-base-info .medium-col{
    min-width: 140px;
    max-width: 140px;

}


.orders-list .customer-row{
    border-bottom: 1px solid var(--light-grey);
}



.orders-list .customer-row .customer-base-info{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}


.orders-list .customer-row .customer-base-info div{
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* margin: 5px 0; */
    font-weight: lighter;
    /* width: 200px; */
    height: 2rem;
}



.orders-list .customer-row .customer-base-info:hover{
    color:var(--primary);
    font-weight: bold; 
    background: var(--ligth-grey);

}


.orders-list .customer-row .dropdown-arrow{
    transform: rotate(90deg);
    
}

.orders-list .customer-row .actions-icons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.orders-list .customer-row .actions-icons svg {
    margin: 0 4px;
}

.order-details{
    display: none;
    min-width: 820px;
    height: 55vh;
    padding:10px;
    flex-direction: row;
    border:2px solid var(--primary);
    transition: all .4s ease-in-out;
    overflow: hidden;
    background:var(--light-grey);
}

.customer-row .expanded {
    display: flex;
}

.customer-row .collapsed {
    display: none;
}


.customer-base-info .arrow-button{
    color: var(--primary);
    font-size: 1.4rem;
}

.order-details .customer-infos, .order-details .bag-infos ,.order-details .order-infos{
    padding: 10px;
    height: 100%;
}

.order-details .customer-infos, .order-details .order-infos{    
    width: 23%;     
}

.order-details .bag-infos{
    /* overflow: scroll; */
}


.order-details .customer-infos .customer-card > div{
    word-wrap:break-word;
}

.customer-card .card-title{
    color: var(--primary);
    font-weight: bold;
    font-size: 1.2rem;
}

.customer-card .phone,
.customer-card .mail,
.customer-card .tva{
    font-weight: 600;
    /* font-size: 1.2rem; */

}

.customer-card .tva{
    margin-bottom: 15px;    
}

.customer-card .shippingAddress{
    margin-bottom: 15px;
}

.customer-infos .order-description, 
.customer-infos .customer-card,
.bag-item-card{
    margin-top: 20px;
}

 .bag-item-card{
    margin-left: 20px;
}

.customer-infos .title{
    color: var(--primary);
    font-size: 1.4rem;
}


.bag-infos{
    position: relative;
    width: 100%;
    /* background-color: blue; */
}

.bag-infos .title{
    color: var(--primary);
    margin-left: 20px;
}

.bags-section-title{
    background: white;
    position: absolute;
    z-index: 10;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
}

.bags-section-title .left-title{
    display: flex;
    width: 135px;
    align-items: center;
    justify-content: space-between;
}

.bags-section-title .left-title .title{
    font-size: 1.4rem;
}


/* .bags-section-title .left-title .add-bag-section{
    transform: translateY(-5px);
} */

.order-details .bag-infos .bags-list{
    display: flex;
    flex-wrap: wrap;
    height: 90%;
    margin: 25px 0;
    width: 100%;
    overflow: scroll;

    /* max-width: 60%; */
}




.button-apply-order-changes{
    /* font-family: var(--font-primary); */
    /* font-weight: lighter; */
    opacity: 0;
    padding: 5px 15px;
    height: 100%;
    border: 3px solid white;
    
    background: var(--info-green);
    color: white;
    border-radius: 5px;
    max-width: 300px;
    max-height: 40px;
    white-space: nowrap;
    
}


.bags-section-title .active{
    opacity: 1;
}



.order-price-section{
    margin:10px 0;
}

.description-text,
.comments-text{
    max-height: 250px;
    overflow: auto;
}

.order-infos .order-price{
    
}


.order-price-section{
    position:relative;
}