
.orders{
    display: flex;
    flex-direction: column;   
    align-items: center; 
    width: 85%;
    margin: 0 auto;
}

.orders .title-section{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
    
}

.orders .main-title{
    color: var(--light-green);
}


.orders .create-order-button{
    border: 2px solid var(--light-green);
    border-radius: 5px;
    background: inherit;
    color: var(--light-green);
    padding: 0 25px;
    margin: 5px;
    
}

.orders-list{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* margin: 0 auto; */
    
    /* NEEDS TO BE FINETUNED */
    /* width: 75%;    
    position: absolute;
    left: 50%;
    transform: translateX(-50%); */
    

    
    box-shadow: var(--box-shadow) 0px 8px 24px;
    /* z-index: -1000; */
    
}

    

.orders-list .title-row{
    display: flex;
    width: 100%;
    background-color: var(--light-green);
    color: white;
    /* padding:5px 10px; */
    text-align: center;
    overflow: hidden;
    border-radius:10px 10px 0 0;
}

.orders-list .title-row div{
    width: 200px;
    font-size: 1.2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* color:white; */
    /* margin:5px 0; */
    

}

.orders-list .customer-row{
    border-bottom: 1px solid var(--light-grey);
}

.orders-list .customer-row:last-child{
    /* border-bottom: 1px solid var(--light-green); */
    
}

.orders-list .customer-row .customer-base-info{
    /* padding:5px 10px; */
    display: flex;
    /* justify-content: space-around; */
    width: 100%;
}


.orders-list .customer-row .customer-base-info div{

    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 5px 0;

    width: 200px;
    height: 2rem;
}



.orders-list .customer-row .customer-base-info:hover{
    /* color:blue; */
    color:var(--light-green);
}


.orders-list .customer-row .dropdown-arrow{
    transform: rotate(90deg);
    
}

.order-details{
    padding:10px;
    flex-direction: row;
    
    border:2px solid var(--light-green);
}



.customer-base-info .arrow-button{
    color: var(--light-green);
    font-size: 1.4rem;
}

.order-details .customer-infos, .order-details .bag-infos{
    padding: 10px;
}

.order-details .customer-infos{
 width: 25%;    
}

.order-details .customer-infos .customer-card{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    /* background-color: cadetblue; */
}


.customer-infos .order-description, .customer-infos .customer-card, .bag-item-card{
    margin-top: 20px;
}

.order-details .bag-image{
    object-fit: cover;
    width: 120px;
    height: 100px;
}



.customer-infos h4{
    color: var(--light-green);

}


.bag-infos{
    width: 100%;
}

.bag-infos .title{
    color: var(--light-green);
}

.order-details .bag-infos .bags-list{
    display: flex;
    width: 100%;
    
}

.order-details .bag-infos .bag-item-card{
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
    height: 200px;
    
    box-shadow:  var(--box-shadow) 8px 10px 24px;
}

.order-details .bag-infos .bag-item-card:hover{
    /* border: 1px solid var(--light-green); */
}

.order-details .bag-infos .bag-item-card .title{
    /* border: 1px solid var(--light-green); */
    border-radius: 15px 15px 0 0;
    background: var(--light-green);
    color: var(--light-grey);
    width: 100%;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 5px;
}

.card-bottom-text{
    width: 100%;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
}




