.bag-popup-container{
    border: 1px solid var(--primary);
    border-radius: 25px;
    z-index: 999;
    position: absolute;
    width: 800px;
    /* min-height: 450px; */
    max-height: 600px;
    /* padding: 20px 20px 5px 20px; */
    background: white;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    overflow: hidden;
    padding: 20px;
}

.popup-relative-layout{
    
    
    /* width: 100%; */
    /* height: 100%; */
    /* position: relative; */
    
}

.bag-popup-container .popup-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: var(--primary);
    font-size:1.4rem;
    margin-bottom: 20px;
}

.popup-close-btn{
    color:var(--dark-grey);
}

.bag-selection-list{
    width: 100%;
    -ms-text-kashida-space: 400px;
    /* background: red; */
    overflow: auto;
    display: flex;
    margin-bottom: 20px;
}

.bag-selection-list .active {
    border: 1px solid var(--primary);
    color: white;
}

.bag-selection-list .active:hover{
    color: white;
}

.bag-list-item{
    margin: 0 10px;
    width: 160px;
    height: 200px;
    position: relative;
}


.bag-list-item:hover{
    color: var(--primary);
}


.bag-image-container{
    width: 100%;
}

.bag-image{
    width:100%;
    object-fit: cover;
}

.image-subsection{
    padding: 5px ;
    position: absolute;
    color: white;
    /* height: 50px; */
    width: 100%;
    bottom:0;
    background: var(--dark-grey);
}

.bag-name{
    text-transform: uppercase;
    font-size: .8rem;
}

.bag-price{
    font-weight: bold;
    font-size: .8rem;
}



.bag-select-quantity{
    margin-bottom: 20px;
}


.bag-quantity-input{
    margin:0 10px;
    width: 45px;

}

.bottom-section{
    display: flex;
    justify-content: flex-end;
}

.bottom-section button{
    padding: 5px;
    background: var(--primary);
    color:white;
    border: none;
    border-radius: 5px;
    
}
    
