*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: rgb(0,0,0);
  --dark-black: #161718;
  --light-black: #525355;
  --light-gray: #b7c0c7;
  /* --light-gray: #b7c0c7; */
  --light-grey: rgb(233,230,232);

  --light-white: #dcdcdc;
  --primary: #0a6a34;
  --primary: #a59b0d;
  --primary: #9a9441;
  --light-blue: #30336d;
  --primary: #03100588;
  --secondary:#03100588;
  --primary: #6cacff;
  --secondary:#202020;
  /* --primary: #d6d133; */
  /* --light-purple: #730cda; */
  --light-purple: rgb(234,51,247);

  --box-shadow: rgba(149, 157, 165, 0.2);

  
}



.root{
  width: 100%;
  height: 100%;
}

.page{
  /* margin: 1rem; */
  
  padding: 50px;
  /* border: 1px solid red; */
}

