*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Archivo Black", Arial, Helvetica, sans-serif; */
  /* font-family: Arial, Helvetica, sans-serif; */
}

:root {
  --black: rgb(61,61,61);
  --dark-black: #161718;
  --light-black: #525355;
  --black-lighter: #525355d6;

   /* TOP */
  --info-green: #0cbd32b8;
  --info-orange: #db993bb8;
  --info-red: #e72e2ece;

  --info-green: #0cbd32;
  --info-orange: #db983b;
  --info-red: #e72e2e;

  --ligth-grey: hsla(226, 49%, 90%, 0.371);
  --light-background: hsla(240, 1%, 96%,1);
  --light-grey-background: hsla(0, 0%, 98%,1);
  --white-background : rgb(254,254,254);
  --light-white: rgb(249, 249, 249);
  --ligth-gray: rgb(231, 229, 229);
  --hover-grey: rgb(226,228,231);
  

  
  
  --primary:rgb(76, 75, 73);
  --primary-lighter:rgb(109, 108, 106);
  
  
  /* RED THEME */
  /* --primary:hsla(0, 79%, 54%, .808);      */
  /* --primary-lighter:hsla(0, 79%, 63%, 0.808);      */
  
  /* BLUE THEME */
  --primary:hsla(211, 73%, 44%);   
  --primary-lighter:rgb(75, 128, 244);
  

  --secondary:rgb(208, 191, 170);
  --secondary:rgb(123, 126, 133);

  
  --font-primary: 'Archivo Black';
  --font-secondary: 'Arial';
  --font-ternary: 'Arial';

  --light-purple: rgb(234,51,247);

  --box-shadow: rgba(149, 157, 165, 0.2);

  
}

.title{
  font-family: var(--font-primary);
}

.root{
  /* width: 100%;
  height: 100%; */
}

body{
  /* position: fixed; */
}


.page{
  /* margin: 1rem; */
  /* margin:0 auto; */  
  padding: 50px;
  /* border: 1px solid red; */
  position: relative;
  min-width: 450px;
  
}


input, textarea, select{
  
  border:1px solid var(--primary-lighter);
  border-radius: 5px;
}
